body {
    font-family: "Arial";
    background-color: #FFFFFF;   
    padding-bottom: 60px;
}                   
 
.top-banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    border: 1px solid #000;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: clamp(120px, 20vh, 250px);
}
 
.top-banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.banner-title {
    position: absolute;
    top: 25px;
    width: 100%;
    color: #00FF00;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
}
.banner-title.left-align {
    text-align: left;
    padding-left: 40px; 
    width: auto;
}
.banner-title.left-align h3 {
    font-size: 24px;  
    margin-top: 0;
}
.banner-title h1 {
    font-size: 24px;  
    margin-top: 0;
}
.nav-bar {
    background-color: #222222;
    height: 40px;
    display: flex;
    align-items: flex-end;
    padding-left: 30px;
    border: 1px solid #000;
    border-top: none;
}
 
.btn {
    display: block;
    background-color: #00FF00; 
    color: #000; 
    padding: 4px 18px;
    text-decoration: none;
    border: 1px solid #000;
    border-bottom: none;
    margin-right: 4px;
    font-size: 13px;
    font-weight: bold;
    clip-path: polygon(12px 0%, 100% 0%, 100% 100%, 0% 100%, 0% 12px);
}
 
.btn.active {
    background-color: #ffffff;
}
 
.main-wrapper {
    display: grid;
    grid-template-columns: 200px minmax(450px, 1fr);
    gap: 15px;
    margin-top: 15px;
    align-items: start; 
    min-width: 770px;
}
 
.left-column {
    display: grid; 
    grid-template-columns: 1fr;    
    gap: 10px;            
}
 
.sidebar {
    background-color: white;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 15px 10px; 
    box-sizing: border-box;
}
 
.menu-title-box {
    border: 2px solid  #00FF00;
    background-color:  #00FF00;
    border-radius: 12px;
    padding: 5px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000000;
}
 
.sidebar button {
    background-color: #00FF00; 
    border: 1px solid #00FF00;
    border-radius: 4px;
    font-weight: bold;
    padding: 2px 8px;
    margin-top: 10px;
}
 
.content {
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 20px;
    padding: 25px;
    min-height: 450px;
}
.content.short-content {
    min-height: auto;
}
.sidebar ul {   
    padding-left: 20px;
    margin: 0;
}
 
.sidebar, ul li {
    color: red;
    text-decoration: none;
}
.footer {
    position: fixed;  
    bottom: 0;         
    left: 0;           
    width: 100%;
    margin-top: 20px;
    padding: 15px 10px;
    background-color: #FFFFFF; 
    color: #000000;            
    font-size: 14px;
    text-align: left;
}
@media (min-width: 769px) and (max-width: 1024px) {
    .main-wrapper {
        grid-template-columns: minmax(185px, 25%) 1fr;
        column-gap: 20px;
        gap: 10px;
    }
    .btn {
        font-size: 14px;
        padding: 8px 16px;
    }
     
    .banner-title {
        font-size: 28px;
    }
    .banner-title h2 {
        font-size: 16px;
    }
    .sidebar ul li a {
        font-size: 11px;
    }
    .content {
        padding: 15px;
        
    }
}
@media (max-width: 768px) {
    .main-wrapper {
        grid-template-columns: 1fr;
        gap: 15px;
        min-width: auto;
    }
        
    .btn {
        font-size: 10px;
        padding: 6px 12px;   
    }
    .content {
        min-height: auto;
        padding: 15px;
        min-width: auto;
    }
    .sidebar ul li a {
        font-size: 10px;
    }
    .nav-bar {
        padding-top: 6px;    
        padding-left: 15px;  
    }
}